<robot
  name="pibot_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0039423 8.3391E-07 -0.0045054"
        rpy="0 0 0" />
      <mass
        value="3.2491" />
      <inertia
        ixx="0.026787"
        ixy="1.92E-08"
        ixz="0.0001887"
        iyy="0.035391"
        iyz="-5.1422E-09"
        izz="0.051695" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/hera/base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/hera/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="-0.0017532 9.7056E-08 0.018369"
        rpy="0 0 0" />
      <mass
        value="0.17932" />
      <inertia
        ixx="8.4489E-05"
        ixy="7.2842E-12"
        ixz="3.6373E-06"
        iyy="7.9944E-05"
        iyz="-3.7959E-10"
        izz="0.00011884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/hera/laser_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25 0.25 0.25 1.2" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/hera/laser_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_link_joint"
    type="fixed">
    <origin
      xyz="0 0 0.086"
      rpy="1.2246E-16 -6.123E-17 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>